#fight{
  text-length: 99;
  font-size:50; 
  fill: red;
  font-weight: bold
}
#train{
  text-length: 99;
  font-size:50; 
  fill: red;
  font-weight: bold
}
#stats{
  text-length: 99;
  font-size:50; 
  fill: red;
  font-weight: bold
}
